server:
  port: 8081

spring:
  application:
    name: discodeit

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

logging:
  level:
    root: info

management:
  endpoints:
    web:
      exposure:
        include: health
