spring:
  application:
    name: discodeit

  boot:
    admin:
      client:
        instance:
          name: discodeit

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB

  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true

  jpa:
    open-in-view: false
    generate-ddl: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        highlight_sql: true

logging:
  level:
    root: info

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/storage

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
    info:
      enabled: true
    loggers:
      access: unrestricted

  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: Discodeit

info:
  app:
    name: Discodeit
    version: 1.7.0
    encoding: UTF-8
    java:
      version: 17
  spring:
    boot:
      version: 3.4.0
    datasource:
      url: jdbc:postgresql://localhost:5432/discodeit
      driver-class-name: org.postgresql.Driver
    jpa:
      ddl-auto: none
    storage:
      type: local
      path: .discodeit/storage
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB