<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 로그 파일 저장 경로 설정 -->
  <property name="LOG_PATH" value="./.logs"/>
  <property name="LOG_FILE_NAME" value="discodeit"/>

  <!-- 콘솔 출력 패턴 설정 -->
  <property name="CONSOLE_LOG_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{request_id} | %X{request_method} | %X{request_url}] - %msg%n"/>

  <!-- 파일 출력 패턴 설정 -->
  <property name="FILE_LOG_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{request_id} | %X{request_method} | %X{request_url}] - %msg%n"/>

  <!-- 콘솔 Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 전체 로그 파일 Appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- 개발 환경 설정 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <springProfile name="dev">
    <root level="DEBUG"/>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO"/>
  </springProfile>

</configuration>